.canvas-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.hero-body h1 {
    text-align: center;
}

.bg-canvas {
    background: #393d49;
}

.datepicker-wrap {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 720px;
    display: none;
}

.datepicker-wrap-show {
    position: absolute;
    display: block;
}

.datepicker-wrap .datepicker-header {
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px;
}

.datepicker-wrap .datepicker-btn {
    color: white;
    text-align: center;
    width: 40px;
}

.datepicker-wrap .datepicker-body table {
    width: 100%;
}

.datepicker-wrap .datepicker-body th,
.datepicker-wrap .datepicker-body td {
    text-align: center;
    line-height: 2;
}

.datepicker-wrap .datepicker-body th {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #666;
}

.datepicker-wrap .datepicker-body td {
    width: 14%;
    cursor: pointer;
}

.datepicker-wrap .datepicker-body td:hover {
    background: dodgerblue;
    color: white;
}

.datepicker-wrap .datepicker-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58px;
    border-top: 1px solid #666;
}

.timepicker {
    align-items: stretch;
    width: 720px;
    height: 160px;
    border-top: 1px solid #666;
    display: none;
}

.timepicker .timepicker-hours {
    /* background-color: red; */
    flex: 5;
    display: flex;
    flex-wrap: wrap;
}

.timepicker .timepicker-hours div {
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.timepicker .timepicker-minutes {
    /* background-color: blue; */
    flex: 1;
}

.timepicker .timepicker-minutes div {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.timepicker .item-h:hover,
.timepicker .item-m:hover {
    background-color: dodgerblue;
    color: white;
}
